:root {
    --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --accent-color: #4eeed9;
    --secondary-color: #97b1bb;
    --background-color: #fff;
    --font-color: #000;

    --bg-transition: background-color .5s ease;
  }